# PostgreSQL Database Configuration
PGHOST=localhost
PGPORT=5432
PGUSER=postgres
PGPASSWORD=postgres
PGDATABASE=gigtask

# MongoDB Database Configuration
MONGO_URI=mongodb://root:example@localhost:27017/

# Alternatively via connection URI:
# DATABASE_URL=postgresql://postgres:postgres@localhost:5432/gigtask
